* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: 1rem;
}

:root {
  --brand-6: #5972fc;
  --brand-10: #2545fa;
}

body {
  background: #131313;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

header {
  padding: 2rem 0;
}

.header__nav {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header__logo {
  height: 50px;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.header__user_buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input_container {
  width: 100%;
}

.input_container input,
.input_container textarea,
.input_container select {
  width: 100%;
}

.input_container+.input_container {
  margin-top: 0.5rem;
}

input,
textarea,
select {
  padding: 0.5rem 0.7rem;
  border: 1px solid #1f1f1f;
  background: none;
  border-radius: 0.35rem;
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid #454545;
}

textarea {
  resize: vertical;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.products__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.catalog__wrapper {
  margin-top: 2rem;
}

.catalog {
  margin-top: 3rem;
}

.form--default {
  padding: 2rem;
  background: #12121290;
  border-radius: 0.75rem;
}

.form--medium {
  margin: 0 auto;
  width: 350px;
}

.form--big {
  margin: 0 auto;
  width: 500px;
}

h1+.input_container {
  margin-top: 2.5rem;
}

.input_container+button[type="submit"] {
  margin-top: 1.5rem;
}

.form--default button[type="submit"] {
  width: 100%;
}

.catalog__select {
  width: 250px !important;
}

.catalog__headline_buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.catalog__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}