button,
.button {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--brand-10);
  transition: 0.25s ease-out;
}

button:hover,
.button:hover {
  background: var(--brand-6);
  transition: 0.01s ease-out;
}

button:active,
.button:active {
  background: #adaeec;
}